section.design
    div.design.container
        div.design__wrap
            h1.design__title Design Inspires
            p.design__subtitle Build your dream workspace, so you can get your best work done.
            a.GET_STARTED(href="#") GET STARTED
        div.design__cards
            div.design__left
                img(src="assets/images/design/img1.png", alt="img")
                h2.design__left__title Desk Pads
                a.LEARN__MORE(href="#") LEARN MORE
            div.design__right
                img(src="assets/images/design/img2.png", alt="img")
                h2.design__right__title Laptop Stands
                a.LEARN__MORE(href="#") LEARN MORE

