section.footer
    div.footer
        div.footer__Wrapper
            div.footer__links
                a.footer__Link(href='#') Shop
                a.footer__Link(href='#') About
                a.footer__Link(href='#') Journal
                a.footer__Link(href='#') Support
                a.footer__Link(href='#') COVID-19 Info
                a.footer__Link(href='#') Order Status
                a.footer__Link(href='#') Corporate Sales
            div.footer__description
                h2.description_title Newsletter Signup
                p.description_text
                    | Sign up to our Newsletter to hear about new
                    br
                    | product releases, learn about our design process,
                    br
                    | and everything else going on behind the scenes at
                    br
                    |  Grovemade.
        div.copyright
            a(href='#') &copy;2020 Grovemade
            a(href='#') Terms &amp; Conditions
            a(href='#') Privacy Policy
            a(href='#') Site by Department
