section.hardWay
    div.hardWay.container
        h3.hardWay__title Made The Hard Way
        p.hardWay__subtitle
            | Our signature craftsmanship has been honed over a decade of manufacturing innovation here in
            br
            |  Portland, Oregon. We combine the skills of our small in-house team with the collective strength of
            br
            |  collaborators throughout the US to deliver quality products worth investing in.

        img(src="assets/images/hardWay/img1.png", alt="img")
