header.header
    div.header.container
        nav
            .shop
                a.link(href='') SHOP
                a.link1(href='') EXPLORE
        .logo
            img(src='assets/images/logo.png' alt='logo')
        nav
            .cart
                a.link(href='') MY CART
