section.makeWork
    div.makeWork__wrap
        h3.makeWork__title Make Work Meaningful
        p.makeWork__subtitle
            | We're here because we believe that your work deserves the best. A team that loves working together
            br
            |  is the magic that makes it all happen.
    div.makeWork__cards
        div.makeWork__card
            img(src="assets/images/makeWork/foto1.png", alt="img")
            img(src="assets/images/makeWork/foto2.png", alt="img")
            img(src="assets/images/makeWork/foto3.png", alt="img")
            img(src="assets/images/makeWork/foto4.png", alt="img")
            img(src="assets/images/makeWork/foto5.png", alt="img")
            img(src="assets/images/makeWork/foto6.png", alt="img")
        div.makeWork__card
            img(src="assets/images/makeWork/foto7.png", alt="img")
            img(src="assets/images/makeWork/foto8.png", alt="img")
            img(src="assets/images/makeWork/foto9.png", alt="img")
            img(src="assets/images/makeWork/foto10.png", alt="img")
            img(src="assets/images/makeWork/foto11.png", alt="img")
            img(src="assets/images/makeWork/foto12.png", alt="img")
        div.makeWork__card
            img(src="assets/images/makeWork/foto13.png", alt="img")
            img(src="assets/images/makeWork/foto14.png", alt="img")
            img(src="assets/images/makeWork/foto15.png", alt="img")
            img(src="assets/images/makeWork/foto16.png", alt="img")
            img(src="assets/images/makeWork/foto17.png", alt="img")
            img(src="assets/images/makeWork/foto18.png", alt="img")
        div.makeWork__card
            img(src="assets/images/makeWork/foto19.png", alt="img")
            img(src="assets/images/makeWork/foto20.png", alt="img")
            img(src="assets/images/makeWork/foto21.png", alt="img")
            img(src="assets/images/makeWork/foto22.png", alt="img")
            img(src="assets/images/makeWork/foto23.png", alt="img")
            img(src="assets/images/makeWork/foto24.png", alt="img")
