section.office
    div.office__wrap
        h1.office__title  Home Office Inspiration
        p.office__subtitle Working from home can be a challenge—see some creative solutions to get it just right.
        a.office__link(href="#") LEARN MORE