section.products
    div.products.container
        div.products__wrapper
            h2.products__title Featured Products
            p.products__subtitle See What’s Trending Right Now
        div.products__rectangle
            div.rectangle1
            div.rectangle2
            div.rectangle3
        div.products__cards
            div.products__card
                img(src="assets/images/products/img1.png", alt="img")
                p Walnut MagSafe Stand
                p $120
            div.products__card
                img(src="assets/images/products/img2.png", alt="img")
                p Walnut Laptop Riser
                p $150
            div.products__card
                img(src="assets/images/products/img3.png", alt="img")
                p Walnut iPad Stand
                p $80
            div.products__card
                img(src="assets/images/products/img4.png", alt="img")
                p Walnut Monitor Stand
                p $100

