section.weHope
    div.weHope__wrapper
        h3.weHope__title We Hope You'll Join Us
        p.weHope__subtitle READ MORE ABOUT OUR STORY
    div.weHope__slogan
        img.weHope__logo(src="assets/images/weHope/logo2.png")
        h2 Design Inspires
        p Build your dream workspace, so you can get your best work done.
